body { position: relative;width: 900px; margin: 0 auto; background-color: #ced9f3}
ul { list-style: none}
.home-estacions { position: absolute; top:0; right:57px; list-style: none}
.center { background-color: white;text-align: center; padding-top: 70px}
.idiomes { margin-bottom: 45px;}
.idiomes ul { margin:0;padding:0}
.idiomes ul li { min-width: 50px;
    list-style: none;
    text-align: center;
    height: 1px;
    display: inline-block;}
.idiomes ul li a { padding: 30px 0 0 0;display: block;background-repeat: no-repeat; background-position: 50% 2px; height: 0;}
.idiomes ul li a:hover { background-position: 50% -38px;}

.idiomes ul li#ca a { background-image: url(/images/banderes/ca.png) }
.idiomes ul li#es a { background-image: url(/images/banderes/es.png) }
.idiomes ul li#en a { background-image: url(/images/banderes/en.png) }
.idiomes ul li#fr a { background-image: url(/images/banderes/fr.png) }

footer { color: #0050d0;padding-top: 90px;font-size:12px; text-align: center;background: #fff url(/images/fons/365.png) no-repeat 0 45px; height: 80px;margin-left: 13px}