.container { border: 1px solid #000}
.detail img { float: left; }
figure { position: relative;margin:0}
figure:before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url(/images/contorn-fotos.png) no-repeat;
}
#top .row { margin-bottom: 40px;}

/***** IDIOMES TOP ***/
.idiomes { margin-bottom: 45px;}
.idiomes ul { margin:0;padding:0}
.idiomes ul li { float: left; min-width: 50px;list-style: none;text-align: center;height: 1px;}
.idiomes ul li a { padding: 30px 0 0 0;display: block;background-repeat: no-repeat; background-position: 50% 0; height: 0;}
.idiomes ul li a:hover { background-position: 50% -27px;}

.idiomes ul li#ca a { background-image: url(/images/banderes/ca.png) }
.idiomes ul li#es a { background-image: url(/images/banderes/es.png) }
.idiomes ul li#en a { background-image: url(/images/banderes/en.png) }
.idiomes ul li#fr a { background-image: url(/images/banderes/fr.png) }


/*** ESTACIONS ****/
.estacions { background: transparent url(/images/estacions/pastilla-estacions.png) no-repeat 0 0;}
.estacions ul { margin:0;padding:0}

.estacions p { margin: 4px 0 0 16px; color: white;font-size: 1.3em;}
.estacions ul { margin-top: 10px}
.estacions ul li { float: left; list-style: none;text-align: center;height: 1px;}
.estacions ul li a { font-size:0.8em; display: block;padding: 0 0 40px 0; width:73px; background-repeat: no-repeat;background-position: 50% 0;}
.estacions ul li#estiu a { background-image: url(/images/estacions/estiu.png)}
.estacions ul li#primavera a { background-image: url(/images/estacions/primavera.png)}
.estacions ul li#hivern a { background-image: url(/images/estacions/hivern.png)}
.estacions ul li#tardor a { background-image: url(/images/estacions/tardor.png)}


.head h1 { background: transparent url(/images/logo-esportitxo.png) no-repeat 0 0;padding:65px 0 0 70px;margin:0;font-size:14px}

#primary-image { position: relative;}
#primary-image .contorn { position: absolute;z-index:40}

#calendar { background: transparent url(/images/fons/fons-calendari.png) no-repeat 0 0;}
#booking { background: transparent url(/images/fons/fons-reserva.png) no-repeat 0 0; }


/***** FOTOS *****/

ul#menu-fotos { color: rgb(57,101,209); text-transform: uppercase; font-size:1.1em;background: transparent url(/images/fons/fons-menu.png) no-repeat 0 0;padding: 1px 0; margin:10px 0}
ul#menu-fotos li { display: inline; margin: 0 3px;}
ul#menu-fotos li a { display: block;color:rgb(81,101,209)}
#galeria { position: relative;}
ul.imatges { list-style: none; position: absolute; bottom: 15px; left: 20px;z-index: 50}
ul.imatges li { margin: 0; padding: 0; display: inline}
ul.imatges li img {  }

.text { background-color: rgb(225,232,248); position: relative  }
.detail { float: left;margin: 0 0 0 -33px;padding: 9px;}
.detail img { -moz-box-shadow: 5px 5px 10px #AAA; box-shadow: 5px 5px 10px #AAA;}
.column { width: 280px;margin: 0 6px;float: left;padding: 10px 5px;}

/****** MENU  **********/
#menu { position: relative; background-color: rgb(225,232,248)  }
.nav { padding: 10px}
.clip { background: transparent url(/images/menu/clip.png) no-repeat 0 0; position: absolute; width:29px;height: 49px;top:-9px;left:-10px }
ul.nav li { background-repeat: no-repeat;
    padding: 20px 0 13px 38px;
    border-bottom: 3px solid white;
    font-size: 1.2em;background-position: 0 15px}
#comarribar { background-image: url(/images/menu/pdf.png);}
#tarifes { background-image: url(/images/menu/euro.png);}
#condicions { background-image: url(/images/menu/condicions.png);}
#serveis { background-image:  url(/images/menu/serveis.png);}
#mascotes { background-image:  url(/images/menu/mascotes.png);}


